body {
	background-image: url('paint-splatter-black-red.gif');
}

.mydiv {
	background-color: #ffffff;
	border: 2px solid #999999;
	border-radius: 4px;
	box-shadow: 0px 0px 1px #000000;
	margin: auto;
    width: 30%;
	text-align: center;
}

p, h3 {
	padding: 10px;
}